<div x-data="SignInService()" @card-ok.window="await signInCard($event.detail)" x-init="onInit();"
    class="flex flex-col min-w-0 w-full h-full dark:bg-gray-700">
    <div class="flex flex-grow justify-center items-start sm:items-center w-full sm:w-auto py-8 px-4 sm:p-12">

        <div class="flex flex-col w-full max-w-lg sm:w-320 mx-auto sm:mx-0 justify-center items-center">
            <form class="mb-4 w-full" @submit.prevent="onSubmit()">
                <div class="mb-6">
                    <input x-model="personId" x-ref="personId" type="text" :placeholder="i18next.t('tk_personId')"
                        class="w-full h-18 px-3 py-2 text-3xl placeholder-gray-500 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    <p x-show="isPersonIdValid()" x-text="isPersonIdValid()"
                        class="text-red-500 text-xs text-left italic pt-2">
                    </p>
                </div>
                <div class="mb-6">
                    <input x-model="password" x-ref="password" type="password" :placeholder="i18next.t('tk_password')"
                        class="w-full h-18 px-3 py-2 text-3xl placeholder-gray-500 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    <p x-show="isPasswordValid()" x-text="isPasswordValid()"
                        class="text-red-500 text-xs text-left italic pt-2">
                    </p>
                </div>
                <div class="flex mb-6 justify-end">
                    <a href="#/forgot-password" class="font-semibold text-indigo-500 text-xl"
                        x-text="i18next.t('tk_forgot_password')"></a>
                </div>
                <div class="mb-6">
                    <button :disabled="isPersonIdValid() || isPasswordValid()"
                        :class="isPersonIdValid() || isPasswordValid() ? 'opacity-50 cursor-not-allowed' : ''"
                        class="w-full h-18 px-3 py-4 text-white text-3xl bg-indigo-500 rounded-md focus:outline-none duration-100 ease-in-out"
                        x-text="i18next.t('tk_sign_in')"></button>
                </div>
                <p class="text-sm text-center text-gray-400">
                    <span x-text="i18next.t('tk_not_signed_up')"></span>
                    <a href="#/sign-up" class="font-semibold text-indigo-500 text-xl"
                        x-text="i18next.t('tk_sign_up')"></a>
                </p>
            </form>
        </div>
    </div>
</div>