<div x-data="HomeService()" x-init="await onInit()" class="flex items-center w-full h-full overflow-hidden">
    <div class="relative rounded-full flex w-full h-full mx-auto p-6 overflow-hidden">
        <img src="../uibuilder/common/images/chq_plant.jpg" alt="Avatar" class="object-cover h-full w-full" />
        <div class="absolute w-full py-10 top-6 inset-x-0 bg-blue-900 text-white text-3xl md:text-6xl text-center"
            x-text="i18next.t('tk_welcome')"></div>
        <!-- <div id="liveTicker"
            class="hidden md:block items-center absolute w-full inset-x-0 p-6  top-44 h-2/5 text-2xl ag-theme-alpine-dark">
        </div> -->
    </div>
</div>